* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background-image: linear-gradient( #3681c7, black);  
}


.header {
  padding: 30px;
  text-align: center;
  background: whitesmoke;
}

.header h1 {
  font-size: 50px;
}


.topnav {
  overflow: hidden;
  background-color: rgb(241, 93, 48);
  border-radius: 0px 0px 7px 7px;
  
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #FF9B73;
  color: black;
}

.column {
  float: left;
  padding: 7px;
}

.column.side{
  width: 20%;
}

.column.middle {
  width: 60%;
}

input[type=text]{
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: solid;
}

input[type=submit]{
  padding: 5px 8px;
  border-radius: 5px;
  border-color: rgb(241, 93, 48);

}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 7px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  border-radius: 7px 7px 0px 0px;
  margin-top: 20px;
  
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, auto));
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: 10px;
  /* background-color: aqua; */
  padding: 10px;
  margin-top: 10px;
  
}

.grid-container > div {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}
a.moreinfo{
  font-size: 14;
  margin: 5px;
}
img.product{
  width: 50%;
  /* height: 200px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px; */
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: rgb(241, 93, 48);
  color: white;
  padding: 7px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #FF9B73;
}

