*{
    box-sizing:  border-box;
}

body{
  font-family: Arial;
  padding: 10px;
  background-image: linear-gradient( #3681c7, black);
}

.field{
    border:2px solid #FF9B73;
    border-radius: 6px;
    padding: 15px;
    margin: 10px;
    
    
}

.center{
  margin: auto;
  width: 30%;
  
  height: 40%;
  background-color: aliceblue;
  border-radius: 7px;
  padding: 10px;
}

input[type=text]{
float: right;
padding: 3px;
font-size: 14px;
border: 1px solid grey;
border-radius: 3px;

}

input[type=password]{
    float: right;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
}
input[type=button]{
    float: right;
    
    padding: 5px 5px;
  border-radius: 5px;
  border-color: rgb(241, 93, 48);
}
input[type=submit]{
    float: left;
    padding: 5px 8px;
  border-radius: 5px;
  border-color: rgb(241, 93, 48);
}
